#---------------------------------------
#CPLD-DIP-Board ucf pin definitions file |
#---------------------------------------
#If you do not know what you are doing	|
#use max 3.3V for any cpld pin.			|
#---------------------------------------
#by Michael Krause

#left DIP-side

#NET	GPIO_1GCK3		LOC="1";
#NET	GPIO_2			LOC="2";
#NET	GPIO_3			LOC="3";
#NET	GPIO_5			LOC="5";
#NET	GPIO_6        		LOC="6";
#NET	GPIO_7			LOC="7";
#NET  	GPIO_8			LOC="8";
#NET  	GPIO_12			LOC="12";
#NET  	GPIO_13        		LOC="13";
#NET  	GPIO_14			LOC="14";
#NET  	GPIO_16			LOC="16";
#NET  	GPIO_18			LOC="18";
#NET  	GPIO_19        		LOC="19";
#NET  	GPIO_20			LOC="20";
#NET  	GPIO_21			LOC="21";
#NET  	GPIO_22			LOC="22";
#NET  	GPIO_23			LOC="23";
#NET  	TCK			LOC="11";
#NET  	TDO			LOC="24";

#right DIP-side
#NET  	GPIO_44GCK2		LOC="44";
#NET  	GPIO_43GCK1        	LOC="43";
#NET  	GPIO_42			LOC="42";
#NET  	GPIO_41			LOC="41";
#NET  	GPIO_40        		LOC="40";
#NET  	GPIO_39			LOC="39";
#NET  	GPIO_38			LOC="38";
#NET  	GPIO_37			LOC="37";
#NET  	GPIO_36GTS1        	LOC="36";
#NET  	GPIO_34GTS2		LOC="34";
#NET  	GPIO_32			LOC="32";
#NET  	GPIO_31			LOC="31";
#NET  	GPIO_30        		LOC="30";
#NET  	GPIO_29			LOC="29";
#NET	GPIO_28			LOC="28";
#NET	GPIO_27			LOC="27";
#NET  	TDI			LOC="9";
#NET  	TMS			LOC="10";


