#---------------------------------------
#CPLD-DIP-Board ucf pin definitions file |
#---------------------------------------
#If you do not know what you are doing	|
#use max 3.3V for any cpld pin.			|
#---------------------------------------
#by Michael Krause

#left DIP-side

#NET	CLK			LOC="1";
#NET	IO3			LOC="3";
#NET	IO4			LOC="5";
#NET	IO5        		LOC="6";
#NET	IO6			LOC="7";
#NET  	IO7			LOC="8";
#NET  	IO8			LOC="12";
#NET  	IO9        		LOC="13";
#NET  	IO10			LOC="14";
#NET  	IO11			LOC="16";
#NET  	IO12			LOC="18";
#NET  	IO13        		LOC="19";
#NET  	IO14			LOC="20";
#NET  	IO15			LOC="21";
#NET  	IO16			LOC="22";
#NET  	IO17			LOC="23";
#NET  	TCK			LOC="11";
#NET  	TDO			LOC="24";

#right DIP-side
#NET  	IO33			LOC="44";
#NET  	IO32        		LOC="43";
#NET  	IO31			LOC="42";
#NET  	IO30			LOC="41";
#NET  	IO29        		LOC="40";
#NET  	IO28			LOC="39";
#NET  	IO27			LOC="38";
#NET  	IO26			LOC="37";
#NET  	IO25        		LOC="36";
#NET  	IO24			LOC="34";
#NET  	IO23			LOC="32";
#NET  	IO22			LOC="31";
#NET  	IO21        		LOC="30";
#NET  	IO20			LOC="29";
#NET	IO19			LOC="28";
#NET	IO18			LOC="27";
#NET  	TDI			LOC="9";
#NET  	TMS			LOC="10";


